<div class="email">

<em><br />
По всем вопросам обращайтесь на 
<script TYPE="text/javascript">
  emailE=('admin@' + 'my_store.com')	
  document.write(
    '<A href="mailto:' + emailE + '">' 
    + emailE + '</a>'
  )
</script>
<noscript>Please enable Javascript to see the email address</noscript>
</em>

</div>